body {
  font-family: "raleway", "Helvetica", "Arial", sans-serif;
  max-width: 1800px;
  min-width: 320px;
  width: 100%;
}
.container {
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 96vw;
  @media #{$tablet-up} {
    max-width: 88vw;
    justify-content: space-between;
  }
}