body {
  font-family: "raleway", "Helvetica", "Arial", sans-serif;
  width: 100%;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}