header {
  background-color: $header-background-color;
  height: 6.5vh;
  width: 100%;
  nav.container {
    align-items: center;
    //font-size: 22px;
    font-size: 2.3vh;
    font-weight: 700;
    a.logo {
      @include logo($logo-primary-color, $logo-secondary-color);
    }
    div {
      button#menuTrigger {
        background-color: $button-alternate-color;
        border: 0;
        border-radius: 3px;
        height: calc(30px + 4vmin);
        left: 1vw;
        position: fixed;
        top: 7vh;
        transition: top 0.1s linear;
        width: calc(30px + 4vmin);
        &:focus {
          outline: 0;
        }
        i {
          color: $button-primary-color;
          font-size: calc(18px + 3.5vmin);
        }
        @media #{$tablet-up} {
          display: none;
        }
      }
    }
    .menu {
      justify-content: space-around;
      //display: none;
      display: flex;
      flex-flow: column nowrap;
      left: -165px;
      list-style: none;
      position: fixed;
      top: 7vh;
      transition: left 0.2s linear;
      @media #{$tablet-up} {
        display: block;
        position: static;
      }
      .menu-element {
        background-color: $button-alternate-color;
        border-radius: 5px;
        display: inline-block;
        margin: 0.5vh 2vw 0.5vh 0;
        min-width: 20vw;
        //padding: 1.2vh 4vw;
        position: relative;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
        a {
          color: $menu-element-color;
          display: inline-block;
          padding: 1.2vh 4vw;
          text-decoration: none;
          text-transform: uppercase;
          width: 100%;
          @media #{$tablet-up} {
            padding: 1vh 1vw;
          }
        }
        &:hover {
          background-color: $button-primary-color;
        }
        @media #{$tablet-up} {
          min-width: 0;
          //padding: 1vh 1vw;
        }
        ul.nav-submenu {
          background-color: $button-alternate-color;
          border-radius: 3px;
          color: $button-secondary-color;
          display: none;
          left: calc(10vh + 12vw);
          //left: calc(118px + 8vw);
          list-style: none;
          position: absolute;
          top: 0;
          //transition: display 1s linear;
          &:before {
            border-color: transparent $button-alternate-color transparent transparent;
            //border-width: 5vh;
            border-width: 2vh 17px 2vh 17px;
            border-style: solid;
            content: "";
            display: inline-block;
            height: 0;
            left: -34px;
            position: absolute;
            top: 0.5vh;
            //top: 8px;
            width: 0;
            @media #{$tablet-up} {
              border-color: transparent transparent $button-alternate-color transparent;
              border-width: 17px 2vh 17px 2vh;
              left: 2vw;
              //left: 48px;
              top: -34px;
            }
          }
          @media #{$tablet-up} {
            left: -1vw;
            top: 7.3vh;
          }
          li.submenu-element {
            //padding: 0.5vh 2vw;
            a {
              border-radius: 3px;
              font-weight: 400;
              padding: 0.5vh 2vw;
              text-transform: none;
              transition: background-color 0.2s linear;
              &:hover {
                background-color: $button-primary-color;
              }
              @media #{$tablet-up} {
                padding: 1vh 1vw;
              }
            }
          }
        }
      }
      .menu-element:last-child {
        @media #{$tablet-up} {
          margin-right: 0;
        }
      }
    }
    .active-menu {
      left: 1vw;
    }
    button#menuTrigger.active-trigger {
      top: 26vh;
    }
  }
}

//linearGradient: #D2D2D2