#introSection {
  background-image: $intro-section-gradient;
  width: 100%;
  @media #{$tablet-up} {
    height: 80.8vh;
  }
  &>div.container {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10vh;
    padding-top: 10vh;
    @media #{$tablet-up} {
      justify-content: space-between;
      padding-bottom: 0;
      padding-top: 0;
    }
    ul.slider {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      height: 65%;
      justify-content: space-around;
      list-style: none;
      min-width: 130px;
      width: 35%;
      @media #{$tablet-up} {
        justify-content: center;
      }
      //@media #{$small-height} {
      //  flex-flow: row nowrap;
      //  width: 40%;
      //}
      li {
        display: inline-block;
        width: 100%;
        img {
          //max-width: 30vw;
          opacity: 1;
          transition: opacity 0.5s linear;
          width: 100%;
        }
        @media #{$tablet-up} {
          display: none;
          &.visible {
            display: inline-block;
          }
        }
      }
    }
    div.intro {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      height: 65%;
      justify-content: space-around;
      max-width: 40%;
      h1.logo {
        @include logo($logo-alternate-color, $logo-secondary-color);
        font-size: calc(2vh + 2vw);
        text-align: center;
      }
      p {
        font-size: calc(1vh + 1.2vw);
        padding: 1em;
        text-align: center;
        @media #{$tablet-up} {
          font-size: calc(0.8vh + 1vw);
        }
      }
      a {
        @include button($button-primary-color, $button-secondary-color, calc(1vh + 1.5vw));
        text-align: center;
      }
    }
    .slider-arrow {
      display: none;
      @media #{$tablet-up} {
        display: block;
        color: $button-primary-color;
        font-size: calc(4vw + 4vh);
        user-select: none;
        transition: 0.15s linear;
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }
    }
  }
}
