$header-background-color: black;
$logo-primary-color: white;
$logo-secondary-color: #00C3A1;
$logo-alternate-color: black;
$menu-element-color: white;
$intro-section-gradient: linear-gradient(to bottom, white, #C8C8D2);

$button-primary-color: #00C3A1;
$button-secondary-color: white;
$button-alternate-color: black;

$border-primary-color: #00C3A1;
$div-title-background: rgba(255,255,255,.5);

$wrap-primary-color: #AAA;
$wrap-secondary-color: #00C3A1;

$pricing-section-main-background-color: #F1F1F1;
$title-darker-color: #555;
$title-lighter-color: #AAA;
$text-faded-color: #CCC;
$pricing-plans-main-color: #00C3A1;
$pricing-plans-main-second-color: white;
$pricing-plans-detail-background-color: #E4E4E4;
