@mixin logo($primary-color, $secondary-color) {
  &.logo {
    color: $primary-color;
    text-decoration: none;
    text-transform: uppercase;
    .distinct-word {
      color: $secondary-color;
      font-weight: 900;
    }
  }
}

@mixin button($button-1st-color, $button-2nd-color, $size) {
  background-color: $button-1st-color;
  border-radius: 10px;
  color: $button-2nd-color;
  font-size: $size;
  padding: 0.9em 2.7em;
  text-decoration: none;
  text-transform: uppercase;
  @media #{$tablet-up} {
    font-size: $size;
    padding: 0.55em 1.3em;
  }
}

@mixin title($title-size, $underline-color, $margin) {
  border-bottom: 0.5em solid $underline-color;
  font-size: $title-size;
  margin: $margin;
}